.message{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    max-width: 300px;
    background-color:rgb(255, 255, 255);
    color:rgb(2, 2, 2);
}
.messageTop{
    display: flex;
}
.messageText{
    max-width: 300px;
    background-color: rgb(58, 56, 56);
    color:rgb(255, 255, 255);
}