.form1 {
    background-color: #dbdbdb;
    border-radius: 5px;
    margin-top: 50px;
    padding: 0 20px;
  }
  .form1 input {
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.2);
    margin-top: 5px;
    border-radius: 5px;
  }
  .form1 span {
    font-size: 14px;
    color: grey;
  }
  
  .form1 .box {
    padding: 15px;
    /* border-left: 1px solid rgba(128, 128, 128, 0.2); */
  }
  /* .form1 .box:nth-child(1) {
    border-left: none;
  } */
  .form1 h4 {
    font-weight: 500;
  }
  @media screen and (max-width: 800px) {
    .form1 {
      display: flex;
      flex-wrap: wrap;
    }
    .form1 .box {
      border-left: none;
    }
    .form1 input {
      width: 100%;
    }
  }
  .container1 {
    margin: auto;
  }
  
  .btn1 {
    border-radius: 5px;
    padding: 17px 30px;
    background: #193441;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }
  .btn1 i {
    margin-right: 5px;
  }